@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

:root{
    --phx: #FE7F02;
    --fonte: 'Open Sans', sans-serif;
}

* {

    margin: 0;
    padding: 0;
}

body{
    margin: 0 0 10px 0;
    min-height: 500px;
    background-color: grey;
    background-image: url(imagens/background-cinza.jpg);
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    max-height: 100em;
}

header{
    background-color: black;
    padding: 40px 150px 20px 40px;
    margin: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100vw;
    min-height: 132px;
}


header nav a{
    margin: 20px;
}

header nav a:hover{
    background-color: white;
    padding: 4px;
    border-radius: 5px;
    transition-duration: 0.47s;
}

.topoButton{
    width: 50px;
    height: 50px;
    color:black;
    background-color: var(--phx);
    position: fixed;
    right: 0;
    top: 90%;
    border-radius: 50%;
    text-align: center;
}
.topoButton p{
    padding: 35% 0px;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.topoButton a:visited, .topoButton a {
    text-decoration: none;
}

.logo{
    margin-right: 0.75%;
    margin-top: 0.75%;
    position: absolute;
    top: 1%;
    right: 1%;

}

.logo-menu{
    color: white;
    padding: 10px;
    cursor: pointer;
}

.menu a{
    color: var(--phx);
    text-decoration: none;
    font-family: var(--fonte);
    margin: 0px 20px 0px 0px;
}


.menu a, .menu a:visited{
    text-decoration: none;
    color: chocolate;
}

div.paralaxe{
    background-color: rgb(75, 75, 75);
    background-image: url(imagens/ev3.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 75vh;
    color: rgba(240, 248, 255, 0);
    margin: 1em 0px;
}

main{
    background-color: papayawhip;
    margin: auto;
    margin-bottom: 20px;
    padding: 30px;
    min-width: 300px;
    max-width: 800px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.262);
    border-radius: 0 0 10px 10px;
}

main img{
    width: 50%;
    display: block;
    margin: 35px auto;
}

main h1{
    margin: 0 0 10px 0;
}

main p{
    text-indent: 2em;
    text-align: justify;
    margin: 0 0 5px 0;
}

form h1{
    font-size: medium;
}

footer{
    background-color: black;
    color: white;
    padding: 30px 150px 50px 40px;
    font-family: var(--fonte);
    box-sizing: border-box;
    width: 100vw;
    height: 2em;
}
footer p{
    text-align: center;
}

/* @media screen and (max-width: 320px){
    header .logo-menu{
        display: block;
    }
} */

/* .menu a#historia:hover{
    
} */
