@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

:root{
    --phx: #FE7F02;
    --fonte: 'Open Sans', sans-serif;
}

* {

    margin: 0;
    padding: 0;
}

/* html{
    /* background-image: url(../imagens/background-metalico.jpg); */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; 
} */

body{
    margin: 0 0 10px 0;
    min-height: 500px;
    background-color: cadetblue;
}

header{
    background-color: black;
    padding: 60px 150px 50px 40px;
    margin: 0px 0px 0px 0px;
    box-sizing: border-box;
    min-height: 132px;
}

.topoButton{
    width: 50px;
    height: 50px;
    color:black;
    background-color: var(--phx);
    position: fixed;
    right: 0;
    top: 90%;
    border-radius: 50%;
    text-align: center;
}

.logo{
    margin-right: 0.75%;
    margin-top: 0.75%;
    position: absolute;
    top: 1%;
    right: 1%;

}

.menu a{
    color: var(--phx);
    text-decoration: none;
    font-family: var(--fonte);
    margin: 0px 20px 0px 0px;
}


.menu a:visited{
    text-decoration: none;
    color: chocolate;
}

.menu a:hover{
    text-transform: uppercase;
    /* transition-duration: 5s; */
}

main{
    background-color: papayawhip;
    margin: auto;
    padding: 30px;
    min-width: 300px;
    max-width: 1000px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.262);
    border-radius: 0 0 10px 10px;
}

main img{
    width: 50%;
    display: block;
    margin: 10px auto;
}

footer{
    background-color: black;
    color: white;
    padding: 30px;
    position: relative;
    top: 90%;
    min-width: 500px;
    max-width: 1000px;
    
}

/* .menu a#historia:hover{
    
} */
